body {
    padding-top:60px;
}

#map {
    bottom: 0;
    margin: 0;
    position: absolute;
    top: 41px;
    right: 160px;
    left: 0px;
}

#right_sidebar {
    bottom: 0px;
    right: 0;
    width: 150px;
    margin: 0;
    padding-left: 5px;
    padding-right: 5px;
    position: absolute;
    top: 41px;
    background-color: black;
    overflow: auto;
}

img.olTileImage {
    max-width: none;
}

.carousel-control {
    font-size: 30px;
    height: 20px;
    line-height: 15px;
    top: 50%;
    width: 28px;
}

.leftbottom-margin {
    margin-left: 10px;
    margin-bottom: 10px;
}

.justify-text {
    text-align: justify;
}

#najnovijiUnosi {
    margin-top: 20px;
}
#unosiNaslov {
    color: #999999;
}

.suhozid-column {
    border: 1px solid black;
    overflow: auto;
    border-radius: 10px;
    height: 80vh;
}

.half-screen {
    height: 40vh;
}

.border {
    border: 1px solid black;
}

.small-box {
    border: 1px solid black;
    border-radius: 5px;
    width: 100%;
    height: 20px;
    margin-bottom: 20px;
    padding: 5px;
}

.big-box {
    border: 1px solid black;
    border-radius: 5px;
    width: 100%;
    height: 200px;
    margin-bottom: 20px;
    padding: 5px;
}