{% extends "base.html"%}
{% load compressed %}

    {% block navigation %}
    <ul class="nav">
        <li id="search-on-map">
            <a href="/"><i class="icon-search icon-white"></i> Pretraži kartu</a>
        </li>
        <li class="divider"></li>
        <li>
            <a href="/o_projektu">O projektu i kako se uključiti</a>
        </li>
        <li class="divider"></li>
        <li>
            <a href="/kontakt" class="active">Kontakt</a>
        </li>
    </ul>
    {% endblock %}

{% block content %}
    <div class="row-fluid">
        <div class="offset2 span8">
<h1><a href="mailto:popis@suhozid.hr">popis@suhozid.hr</a></h1>
<p>

Uredništvo: Filip Šrajer, Jadran Kale, Dražen Odobašić, Filip Bubalo, Grga
Frangeš, Goran Andlar
</p>


{% compressed_js 'contrib' %}

{% endblock %}