{% extends "base.html"%}
{% load compressed %}

{% block content %}
    <div class="row-fluid">

        <div id="map"></div>
        <div id="right_sidebar">
                <div id='layer_picker'></div>
                <div id='bottom_buttons'>
                    <button id='save-point' type="submit" class="btn btn-success btn-small hide btn-block">Spremi točku</button>
                    <a class="btn btn-info btn-small btn-block" id="share-view" href="#">Podijeli pogled</a>
                </div>
         <div id="najnovijiUnosi">
              <h4 id="unosiNaslov">Najnoviji unosi</h4>
              <ul class="nav nav-pills nav-stacked">
             {% for locality in last_20_localites %}
                  <li><a href="/#show/{{ locality.id }}">{{ locality.name|truncatechars:20 }}</a></li>
             {% endfor %}
             </ul>
         </div>
        </div>
    </div>

    <script src="http://maps.google.com/maps/api/js?v=3&amp;sensor=false"></script>
    <script src="/static/openlayers/OpenLayers.js"></script>

    {% compressed_js 'openlayers' %}

    {% compressed_js 'contrib' %}

    {% compressed_js 'core' %}

    {% compressed_js 'application' %}

{% endblock %}