{% extends "base.html"%}
{% load compressed %}
{% load crispy_forms_tags %}

{% block navigation %}
    <ul class="nav">
        <li id="search-on-map">
            <a href="/"><i class="icon-search icon-white"></i> Pretraži kartu</a>
        </li>
        <li class="divider"></li>
        <li>
            <a href="/o_projektu">O projektu i kako se uključiti</a>
        </li>
        <li class="divider"></li>
        <li>
            <a href="/kontakt" class="active">Kontakt</a>
        </li>
    </ul>
{% endblock %}

{% block content %}
    <div class="container">
        <div class='row-fluid'>
            <h3>{{ user.social_auth.get.provider|upper }} prijava:</h3>
        </div>
        <div class='row-fluid'>
            {% crispy form %}
        </div>
    </div>

    {% compressed_js 'contrib' %}

{% endblock %}