{% extends "base.html"%}
{% load compressed %}
{% load crispy_forms_tags %}

{% block extra_head %}
{% compressed_css 'markitup' %}
{% endblock %}

{% block navigation %}
<ul class="nav">
	<li id="search-on-map">
		<a href="/"><i class="icon-search icon-white"></i> Pretraži kartu</a>
	</li>
	<li class="divider"></li>
	<li>
		<a href="/o_projektu">O projektu i kako se uključiti</a>
	</li>
	<li class="divider"></li>
	<li>
		<a href="/kontakt" class="active">Kontakt</a>
	</li>
</ul>
{% endblock %}

{% block content %}

{% compressed_js 'contrib' %}
{% compressed_js 'markitup' %}

{# We need autoesape off to show HTML formating to user. #}
{% autoescape off %}
<div class="container">
	<form method="post">
		{% csrf_token %}
		<div class="row-fluid">

			<div class="span7">
				<h2>Lokalitet: {{ pk }}</h2>
				<h4>Razlike u odnosu na prijašnju verziju</h4>
				<p><b>Locality title</b></p>
				<div class="small-box">{{ localityTitle }}</div>
				<p><b>Author</b></p>
				<div class="small-box">{{ authorSame }}<del style="background:#ffe6e6;">{{ authorOld }}</del><ins style="background:#e6ffe6;">{{ authorNew }}</ins></div>
				<p><b>Short text</b></p>
				<div class="big-box">{{ shortText }}</div>
				<p><b>Main text</b></p>
				<div class="big-box">{{ mainText }}</div>
			</div>

			<div class="span5 review-buttons">
				<button type="submit" class="btn btn-info" name="accept">Prihvati</button>
				<button type="submit" class="btn btn-warning" name="decline">Odbaci</button>
				<p></p>
				<p>Autor izmjene: {{ modificationUser }}</p>
				<p>Vrijeme izmjene: {{ dateCreated }}</p>
			</div>

		</div>
	</form>
</div>
{% endautoescape %}

{% endblock %}