{% extends "base.html"%}
{% load compressed %}
{% load crispy_forms_tags %}

{% block navigation %}
    <ul class="nav">
        <li id="search-on-map">
            <a href="/"><i class="icon-search icon-white"></i> Pretraži kartu</a>
        </li>
        <li class="divider"></li>
        <li>
            <a href="/o_projektu">O projektu i kako se uključiti</a>
        </li>
        <li class="divider"></li>
        <li>
            <a href="/kontakt" class="active">Kontakt</a>
        </li>
    </ul>
{% endblock %}

{% block content %}
    <div class="container">
    <div class="row-fluid">

        <div class="span4">
            <h3>Potreban pregled</h3>
        <div class="suhozid-column">
        <ul class="nav nav-pills nav-stacked">
        {% for locality in points_to_review %}
        <li>
            <a href="{% url 'localityreview' locality.id %}">{{ locality.id }}
            {{ locality.type }}
            {{ locality.name }}</a>
        </li>
        {% endfor %}
        </ul>
        </div>
        </div>

        <div class="span4">
            <h3>Moji suhozidi</h3>
        <div class="suhozid-column">
        <ul class="nav nav-pills nav-stacked">
        {% for locality in personal_points %}
        <li>
            <a href="{% url 'localitydetail' locality.id %}">{{ locality.id }}
            {{ locality.type }}
            {{ locality.name }}</a>
        </li>
        {% endfor %}
        </ul>
        </div>
        </div>

        <div class="span4">
            <h3>Statistike</h3>
            <div class="half-screen">
            <ul>
                <li>Ukupno suhozida: {{ number_of_points }}</li>
                <li>Mojih suhozida: {{ number_of_claimed_points }}</li>
                <li>Ukupno uređivanja: {{ TODO }}</li>
                <li>Novih suhzida: {{ TODO }}</li>
                <li>Pregleda: {{ TODO }}</li>
            </ul>
            </div>
            <div class="half-screen border">
            </div>
        </div>

    </div>
    </div>

    {% compressed_js 'contrib' %}

{% endblock %}